<h1>PEOPLE ANALYTICS</h1>
<p style="font-size: 18px">What are the <strong>biggest frictions</strong> in the area of <strong>human resources</strong>?</p>

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sbn

In [2]:
dataset = pd.read_csv('dataset.csv')
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Employee Source,AgeStartedWorking
0,41,Voluntary Resignation,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,3,...,0,8,0,1,6,4,0,5,Referral,33
1,37,Voluntary Resignation,Travel_Rarely,Human Resources,6,4,Human Resources,1,Female,3,...,0,8,0,1,6,4,0,5,Referral,29
2,41,Voluntary Resignation,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,3,...,0,8,0,1,6,4,0,5,Referral,33
3,37,Voluntary Resignation,Travel_Rarely,Human Resources,6,4,Marketing,1,Female,3,...,0,8,0,1,6,4,0,5,Referral,29
4,37,Voluntary Resignation,Travel_Rarely,Human Resources,6,4,Human Resources,1,Female,3,...,0,8,0,1,6,4,0,5,Referral,29

In [3]:
# Change type of columns for a vector (only categorical columns):

dataset['Attrition'] = pd.Categorical(dataset['Attrition'])
dataset['BusinessTravel'] = pd.Categorical(dataset['BusinessTravel'])
dataset['Department'] = pd.Categorical(dataset['Department'])
dataset['Education'] = pd.Categorical(dataset['Education'])
dataset['EducationField'] = pd.Categorical(dataset['EducationField'])
dataset['Employee Source'] = pd.Categorical(dataset['Employee Source'])
dataset['EnvironmentSatisfaction'] = pd.Categorical(dataset['EnvironmentSatisfaction'])
dataset['Gender'] = pd.Categorical(dataset['Gender'])
dataset['JobInvolvement'] = pd.Categorical(dataset['JobInvolvement'])
dataset['JobLevel'] = pd.Categorical(dataset['JobLevel'])
dataset['JobRole'] = pd.Categorical(dataset['JobRole'])
dataset['JobSatisfaction'] = pd.Categorical(dataset['JobSatisfaction'])
dataset['MaritalStatus'] = pd.Categorical(dataset['MaritalStatus'])
dataset['OverTime'] = pd.Categorical(dataset['OverTime'])
dataset['PerformanceRating'] = pd.Categorical(dataset['PerformanceRating'])
dataset['RelationshipSatisfaction'] = pd.Categorical(dataset['RelationshipSatisfaction'])
dataset['StockOptionLevel'] = pd.Categorical(dataset['StockOptionLevel'])
dataset['WorkLifeBalance'] = pd.Categorical(dataset['WorkLifeBalance'])

In [4]:
# Atribute Engineering:

# Create column to visualize years of experience:
dataset['PriorYearOfExperience'] = dataset['TotalWorkingYears'] - dataset['YearsAtCompany']

# Create column to visualize average tenure:
dataset['AverageTenure'] = dataset['PriorYearOfExperience'] / dataset['NumCompaniesWorked']
dataset['AverageTenure'] = dataset['AverageTenure'].replace([np.inf], 0.0)

# Create dataset to visualize dismissed employee:
dataset_dism_employee = dataset[dataset['Attrition'] != 'Termination']